.rating-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}
.on {
  color: #000;
}
.off {
  color: #bbbbbb;
}

.required-label::after {
  content: " *";
  color: red;
}
